
/Flexible_computing trunk/Flexible_computing/bin
/Flexible_computing trunk/Flexible_computing/obj
/Flexible_computing trunk/Flexible_computing/bin/Debug/*.exe
/Flexible_computing trunk/Flexible_computing/bin/Release/*.exe